* {
    margin: 0;
    padding: 0;

}

body {
    color: white;
    margin: 0;
    padding: 0%;
}

.section {
    background-color: red;
}

.container {
    background-color: green;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
}

.wrapper {
    background-color: blue;
    /*padding: 64px; */
    padding-block: 64px;

}