* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
.container {
  background-color: aquamarine;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  line-height: 16px;
  background-color: red;
  aspect-ratio: 1 / 1;
  width: 16px;
  text-align: center;
  border-radius: 999px;
  color: white;
  position: relative; /*absolute를 쓰면 badge가 화면 밖으로 나가버림 */
  left: -8px;
  top: -16px;
}

.button {
  display: flex;
  /* justify-content : 좌측 우측 중앙 축 결정하는거*/
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  width: fit-content;
  color: #49454f;
  border: 1px solid #79747e;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 8px;
  transition: background-color 200ms ease out;
  &:hover {
    background-color: red;
  }
}
